@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), url('./assets/fonts/museosanscyrl-300.woff2') format('woff2'),
    url('./assets/fonts/museosanscyrl-300.woff') format('woff'),
    url('./assets/fonts/museosanscyrl-300.ttf') format('ttf');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  src: local('Museo Sans Cyrl'), url('./assets/fonts/museosanscyrl-500.woff2') format('woff2'),
    url('./assets/fonts/museosanscyrl-500.woff') format('woff'),
    url('./assets/fonts/museosanscyrl-500.ttf') format('ttf');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 700;
  src: local('Museo Sans Cyrl'), url('./assets/fonts/museosanscyrl-700.woff2') format('woff2'),
    url('./assets/fonts/museosanscyrl-700.woff') format('woff'),
    url('./assets/fonts/museosanscyrl-700.ttf') format('ttf');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 900;
  src: local('Museo Sans Cyrl'), url('./assets/fonts/museosanscyrl-900.woff2') format('woff2'),
    url('./assets/fonts/museosanscyrl-900.woff') format('woff'),
    url('./assets/fonts/museosanscyrl-900.ttf') format('ttf');
}

:root {
  --main-black: #1a1a1a;
  --main-green: #36ba5f;
  --main-blue: #93bbea;
  --main-white: #fff;
  --bg-gray: #f9f9f9;
  --text-gray: #949494;
}

* {
  box-sizing: border-box;
}

.body {
  max-width: 1280px;
  margin: auto;
  padding: 40px;

  font-family: 'Museo Sans Cyrl', 'Arial', sans-serif;
  font-weight: 500;
}

.list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:visited {
  color: var(--main-black);
}

.list-item:hover {
  cursor: pointer;
}

.link {
  display: flex;

  transition: 0.3s;
}

.title {
  margin: 0;

  font-weight: 700;
}

.text {
  margin: 0;

  font-weight: 500;
  line-height: 140%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 82px;
  padding: 40px 40px 54px;

  border-radius: 40px;
  background: url('./assets/bg/planes.png') no-repeat top 37px left, url('./assets/bg/arm.png') no-repeat bottom right;
  background-color: var(--main-blue);
}

.header-title {
  margin-bottom: 4px;

  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  color: var(--main-white);
}

.header-text {
  margin-bottom: 40px;
  width: 535px;

  font-family: Museo Sans Cyrl;
  font-size: 17px;
  color: var(--main-white);
  text-align: center;
}

.contacts {
  gap: 8px;
}

.contacts-item {
  width: 160px;
  padding: 15px;

  font-size: 15px;

  background-color: var(--main-white);
  border-radius: 12px;
}

.contacts-link {
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.contacts-item:hover .link {
  color: var(--main-blue);
}

.aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;

  width: 996px;
  padding: 29px 40px 42px;
  margin: 0 auto 80px;

  border-radius: 40px;
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
}

.aside-text {
  grid-row: 1/2;
  grid-column: 1/2;

  font-family: Museo Sans Cyrl;
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
}

.aside-title {
  grid-row: 2/3;
  grid-column: 1/2;

  margin-top: 2px;

  font-family: Museo Sans Cyrl;
  font-size: 40px;
}

.community {
  display: flex;
  gap: 14px;

  grid-row: 1/3;
  grid-column: 2/2;
  justify-self: end;
}

.community-item {
  background-color: var(--bg-gray);
  border-radius: 13px;
}

.community-item:hover {
  filter: brightness(90%);
}
