@media only screen and (max-width: 1070px) {
  .section-title {
    font-size: 28px;
  }

  .aside {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 850px) {
  .contacts-item {
    width: 45%;
  }

  .aside {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .community {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 550px) {
  .body {
    padding: 20px;
  }

  .header-title {
    font-size: 48px;
  }

  .header-text,
  .contacts-item {
    width: 95%;
  }

  .list-title {
    font-size: 16px;
  }

  .reference-text {
    max-width: 90%;
    margin-right: auto;
  }
}
