@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), url('../assets/fonts/museosanscyrl-300.woff2') format('woff2'),
    url('./assets/fonts/museosanscyrl-300.woff') format('woff'),
    url('./assets/fonts/museosanscyrl-300.ttf') format('ttf');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 500;
  src: local('Museo Sans Cyrl'), url('../assets/fonts/museosanscyrl-500.woff2') format('woff2'),
    url('./assets/fonts/museosanscyrl-500.woff') format('woff'),
    url('./assets/fonts/museosanscyrl-500.ttf') format('ttf');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 700;
  src: local('Museo Sans Cyrl'), url('../assets/fonts/museosanscyrl-700.woff2') format('woff2'),
    url('./assets/fonts/museosanscyrl-700.woff') format('woff'),
    url('./assets/fonts/museosanscyrl-700.ttf') format('ttf');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 900;
  src: local('Museo Sans Cyrl'), url('../assets/fonts/museosanscyrl-900.woff2') format('woff2'),
    url('./assets/fonts/museosanscyrl-900.woff') format('woff'),
    url('./assets/fonts/museosanscyrl-900.ttf') format('ttf');
}

:root {
  --main-black: #1a1a1a;
  --main-green: #36ba5f;
  --main-blue: #93bbea;
  --main-white: #fff;
  --bg-gray: #f9f9f9;
  --text-gray: #949494;
}

* {
  box-sizing: border-box;
}

.body {
  max-width: 1280px;
  margin: auto;
  padding: 40px;

  font-family: 'Museo Sans Cyrl', 'Arial', sans-serif;
  font-weight: 500;
}

.list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:visited {
  color: var(--main-black);
}

.list-item:hover {
  cursor: pointer;
}

.link,
.btn {
  display: flex;

  transition: 0.3s;
}

.title {
  margin: 0;

  font-weight: 700;
}

.section-title {
  font-size: 40px;
  font-weight: 600;

  text-align: center;
}

.text {
  margin: 0;

  font-weight: 500;
  line-height: 140%;
}

.btn {
  border: none;
  background-color: var(--main-white);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 82px;
  padding: 40px 40px 54px;

  border-radius: 40px;
  background: url('../assets/bg/planes.png') no-repeat top 37px left, url('../assets/bg/arm.png') no-repeat bottom right;
  background-color: var(--main-blue);
}

.header-title {
  margin-bottom: 4px;

  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  color: var(--main-white);
  text-align: center;
}

.header-text {
  margin-bottom: 40px;
  width: 535px;

  font-size: 17px;
  text-align: center;
  color: var(--main-white);
}

.contacts {
  gap: 8px;
  flex-wrap: wrap;
}

.contacts-item {
  width: 160px;
  padding: 15px;

  font-size: 15px;

  background-color: var(--main-white);
  border-radius: 12px;
}

.contacts-link {
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.contacts-item:hover .link {
  color: var(--main-blue);
}

.aside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;

  width: 996px;
  padding: 29px 40px 42px;
  margin: 0 auto 80px;

  border-radius: 40px;
  box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
}

.aside-text {
  grid-row: 1/2;
  grid-column: 1/2;

  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
}

.aside-title {
  grid-row: 2/3;
  grid-column: 1/2;

  margin-top: 2px;

  text-align: left;
}

.community {
  display: flex;
  gap: 14px;

  grid-row: 1/3;
  grid-column: 2/2;
  justify-self: end;

  margin-top: 13px;
}

.community-item {
  background-color: var(--bg-gray);
  border-radius: 13px;
}

.community-item:hover {
  filter: brightness(90%);
}

.faq {
  position: relative;
  margin-bottom: 80px;
}

.faq-container {
  max-width: 100%;
  overflow-x: clip;
}

.faq-list {
  gap: 24px;
  transition: 2s;
}

.faq-title {
  margin-bottom: 34px;
  padding-top: 3px;
}

.faq-item {
  flex-shrink: 0;

  width: 282px;
  height: 160px;
  padding: 16px;

  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.faq-link {
  gap: 12px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

.faq-text {
  font-size: 15px;
  line-height: 140%;
  color: var(--text-gray);
}

.faq-img {
  margin-top: -16px;
  margin-right: -16px;
}

.faq-btn {
  position: absolute;
  bottom: 58px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  padding: 10px;

  border-radius: 50%;
  filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, 0.09));
  transform: scale(1);
  cursor: pointer;
  transition: 0.7s;
}

.faq-btn:hover {
  background-color: var(--main-green);
}

.faq-btn:disabled {
  transform: scale(0);
}

.faq-btn_next {
  right: 0;
}

.faq-btn_prev {
  left: 0;

  transform: rotate(180deg);
}

.reference {
  margin-bottom: 80px;
}

.reference-list {
  max-width: 996px;
  margin: auto;

  flex-direction: column;
  gap: 12px;
}

.reference-title {
  margin-bottom: 32px;
}

.reference-item {
  position: relative;
  display: flex;
  justify-content: space-between;

  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.reference-item:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.reference-item svg {
  position: absolute;
  right: 16px;
  top: calc(50% - 12px);
  color: var(--text-gray);
}

.details {
  width: 100%;
  height: 100%;
  padding: 22px 16px 20px 24px;
}

.summary {
  list-style: none;
}

.reference-text {
  max-width: 400px;
  margin: 0;

  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
  color: var(--text-gray);
}
